<!DOCTYPE html>
<html>
  <head>
    <title>gae fb m</title>
    <link rel="stylesheet" href="style/reset.css" type="text/css">
    <link rel="stylesheet" href="style/style.css" type="text/css">
    
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    
    
    <!-- Google Maps API & Gears -->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="http://code.google.com/apis/gears/gears_init.js"></script>
    
    <script src="scripts/script.js"></script>
    <script type="text/javascript" src="scripts/googleMaps.js"></script>
    
    
    
    
  </head>
  <body {% if not login_error %} onLoad="gMapInitialize()" {% endif %}>

	{% if login_error %} 
	<a href="/facebookLogin">Facebook ile login</a>
	{% else %}
     <a href="#" onClick="fillMap()">Ben nerdeyim?</a>
	 <div id="map_canvas" style="width:300px; height:300px;"></div>
	 <script type="text/javascript">
	 	
	 	var currentUser = "{{ user }}";
	 	
	 	
	 </script>
		
		 
	{% endif %}
    
    
  </body>
</html>